<!DOCTYPE html>
<html>
<head>
	<title>Processed Reorders</title>
	<style>
body {background-color:#0e0247;
			font-family: arial;
			margin 0 auto}

h1  {
 
 font-size: 25pt;
 color: White;
 margin-bottom: 5px;
 text-decoration: underline;

}

table {

 	margin: 5px;
 	width: 500px;
	}

th {
 padding: 3px;
 color:#fd493f;
}

td {
 padding-left: 8px;
 padding-right: 8px;
 border: 1px solid #990000;
 background-color: white;
}

</style>
</head>
<body>
	<h1>Processed reorders</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Units of Measure</th>
			<th>Quantity</th>
			<th>Default Quantity</th>
		</tr>


		{% for reorder in processed_reorders %}

		<tr>
			<td>{{ reorder.name }}</td>
			<td>{{ reorder.units_of_measure }}</td>
			<td>{{ reorder.quantity }}</td>
			<td>{{ reorder.default_quantity }}</td>
		</tr>

		{% endfor %}
	</table>

	<a href="/product/list"><button>Go back to products list</button></a>

</body>
</html>